:root {
  --orange: #f58320d5;
  --black: black;
  --light-green: #71c598bf;
  --gray: #666666;
  ;
  --green: #2a8b5d;
  --white: white;
  --red: #b91c1c;
  --shadow: rgba(47, 46, 46, 0.955);
}

body {
  font-size: 1.6rem;
  font-family: "Heebo", sans-serif;
  background-color: var(--light-green);
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.fix {
  overflow: hidden;
  height: 100vh;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 3rem;
}

p {
  font-weight: 400;
  color: var(--black);
  text-align: center;
  margin: 0 2rem 1rem;
}

.header {
  text-align: center;
  display: flex;
  justify-content: space-between;
  font-size: 1.9rem;
  margin: 3rem 2rem;
}

.about-text {
  visibility: hidden;
  border-radius: 0.5rem;
  width: fit-content;
  opacity: 0;
  transition: all 500ms ease-out;
  position: absolute;
  padding: 0 0.5rem;
  color: var(--shadow);
  background-color: var(--light-green);
}

.about-text h3 {
  margin: 0;
  padding: 0;
  font-size: 1.6rem;
}

.header button {
  box-shadow: 1px 1px 2px 0.5px var(--shadow);
  -webkit-box-shadow: 1px 1px 2px 0.5px var(--shadow);
  -moz-box-shadow: 1px 1px 2px 0.5px var(--shadow);
  background-color: var(--orange);
  border: none;
  padding: 1rem;
  border-radius: 1rem;
  -webkit-appearance: button;
  color: var(--black);
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  transition: background-color 500ms ease;
  cursor: pointer;
  margin-top: 3.6rem;
}

.header button:hover {
  background-color: var(--green);
  cursor: pointer;
  color: var(--black);
}

.shadow {
  box-shadow: 5px 5px 10px 1px var(--shadow);
  -webkit-box-shadow: 5px 5px 10px 1px var(--shadow);
  -moz-box-shadow: 5px 5px 10px 1px var(--shadow);
  background-color: var(--black);
  padding: 4rem;
  border-radius: 1.2rem;
}

.section-header {
  background-color: var(--orange);
}

.section-header h1 {
  padding: 3rem 0;
  margin: 0;
  color: var(--black);
  text-align: center;
}

.header-text {
  justify-content: center;
}

.header-text img {
  width: 20px;
  height: 20px;
  margin-right: 0.3rem;
}

.about,
.form {
  margin: 8rem auto;
  padding: 0 2rem;
  text-align: center;
  color: var(--green);
  font-size: 2.4rem;
  font-weight: 500;
  width: 95%;
}

.about h3 {
  text-align: left;
  font-size: 2rem;
  font-weight: 500;
  color: var(--gray);
}

.about h3,
.about h2 {
  text-transform: uppercase;
}

.text-box {
  margin-bottom: 3rem;
  border-bottom: 2px solid var(--orange);
}

.text-box h2 {
  color: var(--white);
  font-size: 3.6rem;
  font-weight: 400;
  letter-spacing: 0.2rem;
}

.about ul {
  text-align: left;
  line-height: 1.5;
}

.about a,
.about p {
  text-decoration: none;
  text-decoration: none;
  color: var(--green);
}

.form legend {
  font-size: 3.6rem;
  text-align: center;
  display: block;
  text-transform: uppercase;
  color: var(--white);
  margin-bottom: 4rem;
  padding-bottom: 1rem;
  border-bottom: 2px solid var(--orange);
}

.form .modalinput {
  display: grid;
  margin-bottom: 2rem;
}

.form label {
  color: var(--orange);
  font-size: 2.4rem;
  text-transform: uppercase;
  /*   line-height: 2.15;
 */
}

.form input[type="text"],
.form input[type="number"] {
  background-color: var(--light-green);
  border-radius: 1rem;
  padding: 1rem;
  border: 1px solid var(--green);
  flex: 1;
  width: 60%;
  margin: 0rem auto 0rem;
  font-size: 1.6rem;
  text-align: center;
  color: var(--shadow);
}

.form input[type="submit"] {
  background-color: var(--orange);
  border: none;
  padding: 1.2rem;
  width: fit-content;
  border-radius: 1rem;
  margin: 2rem auto;
  color: var(--black);
  font-weight: 900;
  text-transform: uppercase;
  font-size: 1.9rem;
  letter-spacing: 0.1rem;
  transition: background-color 500ms ease;
}

.form input[type="submit"]:hover {
  background-color: var(--green);
  cursor: pointer;
  color: var(--black);
}

.form select {
  padding: 1rem;
  border: none;
  width: 60%;
  border-radius: 1rem;
  text-align: center;
  background-color: var(--light-green);
  margin: 0rem auto 0rem;
  font-size: 1.6rem;
  border: 1px solid var(--green);
  color: var(--shadow);
}

.alert {
  padding: 2rem 1rem;
  max-width: 60rem;
  width: 60%;
  margin: 2rem auto 2rem auto;
  font-weight: 900;
  text-transform: uppercase;
  font-size: 1.8rem;
  letter-spacing: 0.15rem;
  text-align: center;
}

.alert.error {
  background-color: var(--black);
  border-bottom: 3px solid var(--red);
  border-top: 3px solid var(--red);
  color: var(--red);
}

.container {
  width: 90%;
  max-width: 80rem;
  margin: 0 auto;
}

.logger-container {
  margin-top: -5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transform: translateY(5rem);
  margin-bottom: 10rem;
}

.columns {
  flex-direction: column;
}

.columns :first-child {
  margin-bottom: 4rem;

}

.form input[type="text"].logger-new-input,
.form input[type="number"].logger-new-input {
  margin: 1rem;
  font-size: 2.5rem;
  text-align: center;
}

.expenses {
  width: 100%;
  line-height: 1.2;
  text-align: center;
}

.expenses p {
  margin-top: 1.5rem;
  font-size: 2.5rem;
  color: var(--green);
}

.expenses p.negative,
.expenses p.negative span {
  color: var(--red);
}

.expenses span,
.about span {
  font-weight: 800;
  color: var(--orange);
  letter-spacing: 0.1rem;
}

.reset-app {
  border: none;
  background-color: var(--gray);
  padding: 1rem;
  width: 100%;
  max-width: 306px;
  text-align: center;
  color: var(--white);
  text-transform: uppercase;
  font-weight: 900;
  border-radius: 1rem;
  transition-property: background-color;
  transition-duration: 300ms;
}

.reset-app:hover {
  background-color: var(--red);
  cursor: pointer;
}

main {
  padding-top: 5rem;
}

.filters {
  max-width: 760px;
  padding-left: 5rem;
  padding-right: 5rem;
  margin: 0 auto;
}

.modalinput {
  display: flex;
  gap: 3rem;
  text-align: center;
}

.filters label {
  font-size: 3rem;
  font-weight: 900;
  letter-spacing: 0.2rem;
  color: var(--green);
}

.filters select {
  padding: 1rem;
  border: none;
  border-radius: 1rem;
  text-align: center;
  background-color: var(--light-green);
  flex: 1;
}

.expenses-list {
  margin-top: 5rem;
  /*   padding-left: 15rem;
  padding-right: 15rem;
 */
}

.expenses-list h2 {
  color: var(--green);
  font-weight: 900;
}

.no-gastos {
  text-align: center;
  font-size: 2.2rem;
}

.expense {
  display: flex;
  align-items: center;
  gap: 2rem;
  margin: 2rem 2rem;
  width: 100%;
}

.expense-amount {
  font-size: 2.4rem;
  color: var(--orange);
  font-weight: 900;
}

.expense-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 2rem;
  width: 100%;
  max-width: 450px;

}

.expense-container img {
  width: 10rem;
}

.expense-info p {
  margin: 0 0 0.3rem 0;
  text-align: left;
}

.expense-info .category {
  color: var(--gray);
  font-size: 1.6rem;
  font-weight: 900;
  text-transform: uppercase;
}

.expense-info p {
  margin-bottom: 1rem;
}

.expense-info .expense-name {
  color: var(--green);
  font-size: 2.4rem;
  font-weight: 700;
}

.expense-info .expense-name:hover {
  cursor: pointer;
}

.expense-info,
.expense-date {
  font-size: 1.8rem;
  font-weight: 900;
  color: var(--green);
}

.expense-info,
.expense-date span {
  font-weight: 400;
}

.add-expense {
  position: fixed;
  bottom: 5rem;
  right: 5rem;
  text-align: right;
  width: fit-content;
  /*  transition: all 500ms ease-out; */
}

.add-expense figure {
  margin: 0;
  padding: 0;
}

.add-expense img {
  width: 6rem;
  /*   transition: all 500ms ease-out;
 */
}

/* 
.about-img img {
  transition: all 500ms ease-out;
}
 */
.add-text {
  visibility: hidden;
  width: fit-content;
  padding: 0 0.5rem;
  color: var(--shadow);
  background-color: var(--light-green);
  border-radius: 0.5rem;
  opacity: 0;
  transition: all 500ms ease-out;
}

.add-expense img:hover,
.about-img img:hover {
  cursor: pointer;
}

.add-expense figure:hover>.add-text,
.about-img figure:hover>.about-text {
  opacity: 1;
  visibility: visible;
}

.modal {
  position: absolute;
  background-color: rgb(0 0 0 / 0.92);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.close-modal {
  position: absolute;
  right: 4rem;
  top: 3rem;
  width: 3rem;
  height: 3rem;
}

.close-modal img {
  position: relative;
  width: 100%;
  cursor: pointer;
}

.modal .form,
.modal .about {
  /*   max-width: 80rem;
  width: 60rem; */
  transition-property: all;
  transition-duration: 300ms;
  transition-timing-function: ease-in;
  opacity: 0;
}

.modal label {
  color: var(--orange);
  text-align: left;
}

body .modal,
body .about {
  overflow: hidden;
}

.modal .about.show,
.modal .form.show {
  position: relative;
  opacity: 1;
}

.modal .about.close,
.modal .form.close {
  opacity: 0;
}

.CircularProgressbar {
  width: 100%;

}

.CircularProgressbar .CircularProgressbar-text {
  font-size: 1rem !important;
}

/*** SWIPE LIST OVERRIDES **/
.swipe-action__leading {
  background-color: #f58320b4;
  color: var(--black);
  border-radius: 1.2rem;
  margin-bottom: 2rem;
  font-size: 1.6rem;
  font-weight: 900;
  text-transform: uppercase;
}

.swipe-action__trailing {
  background-color: #f58320b4;
  color: var(--black);
  border-radius: 1.2rem;
  margin-bottom: 2rem;
  font-size: 1.6rem;
  font-weight: 900;
  text-transform: uppercase;
}

.swipeable-list .swipe-action {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.4rem;
  /*   text-align: right;
 */
  /*   background-color: var(--orange);
 */
  text-align: right;
}

@media (max-width: 400px) {
  .header {
    padding: 2rem 2rem;
    display: grid;
    grid-row: 10rem;
  }

  .header figure {
    margin: 0;
  }

  .about-img {
    grid-column: 1/2;
    margin-top: 2rem;
  }

  .header-button {
    grid-column: 2/2;
    padding: 0;
  }

  .header-title {
    grid-row: 2;
    grid-column: 1/span 2;
  }

  .add-expense {
    bottom: 5rem;
    right: 3rem;
  }

  .add-expense img {
    width: 4rem;
  }

  .expense {
    margin: 1rem;
    padding: 2rem 1rem;
    width: auto;
    display: flex;
    justify-content: space-between;
  }

  .expense-container img {
    width: 7rem;
  }

  /*   .expense-amount {
    margin: auto
  } */
}

@media (min-width: 726px) {
  .header {
    padding: 5rem 5rem;
  }

  .logger-container {
    padding-left: 13rem;
    padding-right: 13rem;
  }

  .form,
  .about {
    width: 60rem;
  }
}

@media (min-width: 768px) {
  .columns {
    flex-direction: row;
    align-items: center;
    gap: 4rem;
    padding-right: 8rem;
    padding-right: 8rem;
  }

  .columns>div {
    width: 50%;
  }

  .columns :first-child {
    margin-bottom: 0;
  }

  .expenses p {
    text-align: left;
  }

  .filters {
    padding-left: 15rem;
    padding-right: 15rem;
  }

}

@media (min-width: 978px) {
  .close-modal {
    position: absolute;
    right: 20rem;
    top: 3rem;
    width: 5rem;
    height: 5rem;
  }
}